In [2]:
import pandas as pd

priv = pd.read_csv('Private_Schools.csv')
print(priv.head())

              X             Y  FID  OBJECTID    NCESID  \
0 -8.136078e+06  5.055506e+06    1      1201  A0507274
1 -8.147300e+06  5.037067e+06    2      1202  A0500844
2 -8.197042e+06  5.018050e+06    3      1203  A0108054
3 -8.171504e+06  5.077291e+06    4      1204  A0507283
4 -8.197596e+06  5.017131e+06    5      1205  01612613

                               NAME                   ADDRESS        CITY  \
0                  A CHILD'S GARDEN           20 IVY BROOK RD     SHELTON
1  BRIDGEPORT INTERNATIONAL ACADEMY  285 LAFAYETTE ST STE 200  BRIDGEPORT
2                    CARMEL ACADMEY              270 LAKE AVE   GREENWICH
3                 COUNTRY KIDS CLUB           94 OLD STATE RD  BROOKFIELD
4                 EAGLE HILL SCHOOL           45 GLENVILLE RD   GREENWICH

  STATE   ZIP  ...           SOURCEDATE     VAL_METHOD             VAL_DATE  \
0    CT  6484  ...  2010/01/29 00:00:00        IMAGERY  2010/02/25 00:00:00
1    CT  6604  ...  2010/01/29 00:00:00  IMAGERY/OTHER  2010/02/23 00:00:00
2    CT  6830  ...  2010/01/29 00:00:00        IMAGERY  2010/03/05 00:00:00
3    CT  6804  ...  2010/01/29 00:00:00        GEOCODE  2010/02/25 00:00:00
4    CT  6831  ...  2010/01/29 00:00:00  IMAGERY/OTHER  2010/02/26 00:00:00

                                             WEBSITE  LEVEL_ ENROLLMENT  \
0  http://nces.ed.gov/GLOBALLOCATOR/sch_info_popu...       1          6
1  http://nces.ed.gov/GLOBALLOCATOR/sch_info_popu...       2         60
2  http://nces.ed.gov/GLOBALLOCATOR/sch_info_popu...       1        225
3  http://nces.ed.gov/GLOBALLOCATOR/sch_info_popu...       1         10
4  http://nces.ed.gov/GLOBALLOCATOR/sch_info_popu...       3        253

   START_GRAD END_GRADE  FT_TEACHER     SHELTER_ID
0           2         3           2  NOT AVAILABLE
1          14        17           8  NOT AVAILABLE
2           3        13          53  NOT AVAILABLE
3           2         3           1  NOT AVAILABLE
4           4        15          65  NOT AVAILABLE

[5 rows x 33 columns]

In [3]:
pub = pd.read_csv('Public_Schools.csv')
print(pub.head())

              X             Y  OBJECTID        NCESID  \
0 -9.844095e+06  5.230976e+06         1  170330000017
1 -9.007027e+06  4.195442e+06         2  370297001287
2 -9.580426e+06  4.792069e+06         3  180369000584
3 -1.243297e+07  3.927588e+06         4   40187003479
4 -1.243258e+07  3.924831e+06         5   40187003483

                                            NAME             ADDRESS  \
0                       ALDEN-HEBRON HIGH SCHOOL    9604 ILLINOIS ST
1                         WESTERLY HILLS ACADEMY     4420 DENVER AVE
2                    NORTHWOOD ELEMENTARY SCHOOL  965 GRIZZLY CUB DR
3  DR. GARY AND ANNETTE AUXIER ELEMENTARY SCHOOL  22700 S. POWER RD.
4                DR. CAMILLE CASTEEL HIGH SCHOOL  24901 S. POWER RD.

          CITY STATE    ZIP           ZIP4  ...     VAL_METHOD  \
0       HEBRON    IL  60034           9618  ...  IMAGERY/OTHER
1    CHARLOTTE    NC  28208           3699  ...  IMAGERY/OTHER
2     FRANKLIN    IN  46131           1364  ...  IMAGERY/OTHER
3  QUEEN CREEK    AZ  85298  NOT AVAILABLE  ...  IMAGERY/OTHER
4  QUEEN CREEK    AZ  85142  NOT AVAILABLE  ...  IMAGERY/OTHER

              VAL_DATE                                       WEBSITE  \
0  2010/08/27 00:00:00                                 NOT AVAILABLE
1  2016/08/22 00:00:00  http://schools.cms.k12.nc.us/westerlyhillsES
2  2010/08/02 00:00:00                                 NOT AVAILABLE
3  2018/10/24 00:00:00                                 NOT AVAILABLE
4  2018/10/24 00:00:00                                 NOT AVAILABLE

       LEVEL_ ENROLLMENT  ST_GRADE END_GRADE  DISTRICTID  FT_TEACHER  \
0        HIGH        112        09        12     1703300          11
1  ELEMENTARY        495        KG        08     3702970          45
2  ELEMENTARY        478        PK        04     1803690          25
3  ELEMENTARY        958        PK        06      401870          51
4        HIGH       2294        07        12      401870         115

      SHELTER_ID
0  NOT AVAILABLE
1  NOT AVAILABLE
2  NOT AVAILABLE
3  NOT AVAILABLE
4  NOT AVAILABLE

[5 rows x 33 columns]

In [4]:
re = pd.read_csv('realtor-data.zip.csv')
print(re.head())

   brokered_by    status     price  bed  bath  acre_lot     street  \
0     103378.0  for_sale  105000.0  3.0   2.0      0.12  1962661.0
1      52707.0  for_sale   80000.0  4.0   2.0      0.08  1902874.0
2     103379.0  for_sale   67000.0  2.0   1.0      0.15  1404990.0
3      31239.0  for_sale  145000.0  4.0   2.0      0.10  1947675.0
4      34632.0  for_sale   65000.0  6.0   2.0      0.05   331151.0

         city        state  zip_code  house_size prev_sold_date
0    Adjuntas  Puerto Rico     601.0       920.0            NaN
1    Adjuntas  Puerto Rico     601.0      1527.0            NaN
2  Juana Diaz  Puerto Rico     795.0       748.0            NaN
3       Ponce  Puerto Rico     731.0      1800.0            NaN
4    Mayaguez  Puerto Rico     680.0         NaN            NaN

In [5]:
priv['SOURCEDATE'] = pd.to_datetime(priv['SOURCEDATE']).dt.strftime('%Y/%m/%d')
print(priv['SOURCEDATE'].head())

pub['SOURCEDATE'] = pd.to_datetime(pub['SOURCEDATE']).dt.strftime('%Y/%m/%d')
print(pub['SOURCEDATE'].head())

0    2010/01/29
1    2010/01/29
2    2010/01/29
3    2010/01/29
4    2010/01/29
Name: SOURCEDATE, dtype: object
0    2009/10/13
1    2009/12/10
2    2009/10/13
3    2018/10/23
4    2018/10/23
Name: SOURCEDATE, dtype: object

In [6]:
re['prev_sold_date'] = pd.to_datetime(re['prev_sold_date'], errors = 'coerce').dt.strftime('%Y/%m/%d')
print(re['prev_sold_date'].head())

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: prev_sold_date, dtype: object

In [7]:
re.rename(columns = {'status':'STATUS', 'price':'PRICE', 'city':'CITY', 'state':'STATE', 'zip_code':'ZIP'}, inplace = True)
print(re)

         brokered_by    STATUS     PRICE  bed  bath  acre_lot     street  \
0           103378.0  for_sale  105000.0  3.0   2.0      0.12  1962661.0
1            52707.0  for_sale   80000.0  4.0   2.0      0.08  1902874.0
2           103379.0  for_sale   67000.0  2.0   1.0      0.15  1404990.0
3            31239.0  for_sale  145000.0  4.0   2.0      0.10  1947675.0
4            34632.0  for_sale   65000.0  6.0   2.0      0.05   331151.0
...              ...       ...       ...  ...   ...       ...        ...
2226377      23009.0      sold  359900.0  4.0   2.0      0.33   353094.0
2226378      18208.0      sold  350000.0  3.0   2.0      0.10  1062149.0
2226379      76856.0      sold  440000.0  6.0   3.0      0.50   405677.0
2226380      53618.0      sold  179900.0  2.0   1.0      0.09   761379.0
2226381     108243.0      sold  580000.0  5.0   3.0      0.31   307704.0

               CITY        STATE      ZIP  house_size prev_sold_date
0          Adjuntas  Puerto Rico    601.0       920.0            NaN
1          Adjuntas  Puerto Rico    601.0      1527.0            NaN
2        Juana Diaz  Puerto Rico    795.0       748.0            NaN
3             Ponce  Puerto Rico    731.0      1800.0            NaN
4          Mayaguez  Puerto Rico    680.0         NaN            NaN
...             ...          ...      ...         ...            ...
2226377    Richland   Washington  99354.0      3600.0     2022/03/25
2226378    Richland   Washington  99354.0      1616.0     2022/03/25
2226379    Richland   Washington  99354.0      3200.0     2022/03/24
2226380    Richland   Washington  99354.0       933.0     2022/03/24
2226381    Richland   Washington  99354.0      3615.0     2022/03/23

[2226382 rows x 12 columns]

In [8]:
def clean_zip(value):
    try:
        return str(int(float(value))).zfill(5)
    except (ValueError, TypeError):
        return None

re['ZIP'] = re['ZIP'].apply(clean_zip)
print(re['ZIP'].head())

0    00601
1    00601
2    00795
3    00731
4    00680
Name: ZIP, dtype: object

In [9]:
pub['ZIP'] = pub['ZIP'].apply(clean_zip)
print(pub['ZIP'].head())

0    60034
1    28208
2    46131
3    85298
4    85142
Name: ZIP, dtype: object

In [10]:
priv['ZIP'] = priv['ZIP'].apply(clean_zip)
print(priv['ZIP'].head())

0    06484
1    06604
2    06830
3    06804
4    06831
Name: ZIP, dtype: object

In [11]:
priv_summary_stats = priv[['POPULATION', 'ENROLLMENT', 'FT_TEACHER']].describe()
print(priv_summary_stats)

         POPULATION    ENROLLMENT    FT_TEACHER
count  31064.000000  31064.000000  31064.000000
mean     156.178341    142.387909     13.790433
std      236.346831    218.895729     19.853510
min        1.000000      1.000000      0.000000
25%       23.000000     20.000000      3.000000
50%       71.000000     63.000000      8.000000
75%      199.000000    182.000000     16.000000
max     6446.000000   5840.000000    606.000000

In [12]:
pub_summary_stats = priv[['POPULATION', 'ENROLLMENT', 'FT_TEACHER']].describe()
print(pub_summary_stats)

         POPULATION    ENROLLMENT    FT_TEACHER
count  31064.000000  31064.000000  31064.000000
mean     156.178341    142.387909     13.790433
std      236.346831    218.895729     19.853510
min        1.000000      1.000000      0.000000
25%       23.000000     20.000000      3.000000
50%       71.000000     63.000000      8.000000
75%      199.000000    182.000000     16.000000
max     6446.000000   5840.000000    606.000000

In [15]:
re_summary_stats = re[['PRICE', 'house_size']].describe()
print(re_summary_stats)

              PRICE    house_size
count  2.224841e+06  1.657898e+06
mean   5.241955e+05  2.714471e+03
std    2.138893e+06  8.081635e+05
min    0.000000e+00  4.000000e+00
25%    1.650000e+05  1.300000e+03
50%    3.250000e+05  1.760000e+03
75%    5.500000e+05  2.413000e+03
max    2.147484e+09  1.040400e+09